body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D8DEE9;
}

button {
    border: none;
}

#scoreContainer {
    display: flex;
    justify-content: flex-end;

}

#scoreContainer button {
    padding: 15px 35px;
}

#scoreContainer p {
    font-size: 3em;
}



#main {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
    background-color: #4C566A;
    padding-bottom: 10px;

}

#miss,
#goal,
#accuracy {
    text-align: center;
    width: 50%;
}

#miss {
    margin-right: 20px;
}

#miss button {
    background-color: #BF616A;
}

#goal {
    margin-left: 20px;
}

#goal button {
    background-color: #A3BE8C;
}

#accuracy p {
    font-size: 5em;
}

.bad {
    color: #BF616A;
}

.average {
    color: #D08770;
}

.good {
    color: #EBCB8B;
}

.great {
    color: #A3BE8C;
}

#reset {
    margin-top: 25px;

    text-align: center;
}

#reset button {
    padding: 15px 25px;
    width: 200px;
}